[submodule "KEngine/ThirdParty/spdlog"]
	path = KEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "KGameEngine/ThirdParty/GLFW"]
	path = KGameEngine/ThirdParty/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "KGameEngine/ThirdParty/imgui"]
	path = KGameEngine/ThirdParty/imgui
	url = https://github.com/TheCherno/imgui
